TAP solar system object query Postgres (DP0.3) --stv

In [ ]:
# from random import randrange, uniform
from lsst.rsp import get_tap_service, retrieve_query
from random import uniform

In [ ]:
service = get_tap_service("ssotap")

In [ ]:
rows = 1000000
query = f"SELECT TOP {rows} * FROM dp03_catalogs_10yr.SSObject"
print(query)

In [ ]:
results = service.search(query)
table = results.to_table()

In [ ]:
print(len(results))